<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILogin1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3135/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILogin1" contract="LoginReference.ILogin"
                name="BasicHttpBinding_ILogin1" />
        </client>
    </system.serviceModel>
</configuration>